<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Select Ur CAS</title>
    <style>
        #app {
            /*Credit: https://leaverou.github.io/css3patterns/#blueprint-grid*/
            background-color: #269;
            background-image: linear-gradient(white 2px, transparent 2px),
                linear-gradient(90deg, white 2px, transparent 2px),
                linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
                linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
            background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
            background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
        }

        .container {
            background: white;
            opacity: 0.95;
        }

        .v-chip {
            opacity: 1;
        }

        .iframe {
            width: 100%;
            height: 7em;
            margin-bottom: 1em;
            overflow-y: hidden;
            overflow:hidden;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>


                <v-container class="mt-5 " fluid>
                    <v-row>
                        <v-col cols="4">


                            <h1>Select Ur CAS</h1>
                        </v-col>
                        <v-col cols="8">
                            <v-btn class="success float-right" @click="resetToDefaultSettings">Click to reset to example
                                setup</v-btn>
                        </v-col>
                    </v-row>
                    <v-divider></v-divider>
                    <v-row>
                        <v-col col="12" md="4" sm="12">
                            <v-badge right>
                                <template v-slot:badge>
                                    <span>1</span>
                                </template>
                                <h1>Select Command</h1>
                            </v-badge>
                            

                            <v-select v-model="authenticationValues" :items="authenticationValuesOptions"
                                label="Select where Authentication credential stored at:" multiple persistent-hint
                                clearable chips>
                            </v-select>
                            <v-select v-model="authenticationAttributesValues"
                                :items="authenticationAttributesValuesOptions"
                                label="Select where Authentication attribute stored at:" multiple persistent-hint
                                clearable chips>
                            </v-select>
                            <v-select v-model="clientValues" :items="clientValuesOptions"
                                label="Client is to be used to authenticate your system against:" multiple clearable
                                persistent-hint chips>
                            </v-select>
                            <v-select v-model="serviceRegistryValues" :items="serviceRegistryValuesOptions"
                                label="Select where service stored at:" multiple persistent-hint clearable chips>
                            </v-select>
                            <v-alert type="info">
                                Number at the end is used for service id and order
                            </v-alert>
                            <v-alert type="info">
                                By default, each of the above service registry allow all http / https traffic, you
                                should select one and only one service registry unless you modified the service registry
                            </v-alert>
                        </v-col>
                        <v-col col="12" md="4" sm="12">

                            <v-badge right>
                                <template v-slot:badge>
                                    <span>2</span>
                                </template>
                                <h1>Copy docker command</h1>
                            </v-badge>
                                <v-switch v-model="isHaveSudo" :label="`Include sudo to command ?`"></v-switch>

                                <v-select v-model="dockerCommand" :items="dockerCommandOptions"
                                    label="Select action for Docker:" persistent-hint>
                                </v-select>

                            <v-card class="mx-auto">
                                <v-card-text class="caption">

                                    <span id="docker-command">
                                        <span class="blue--text">
                                            {{ isHaveSudo ? 'sudo' : ''}} docker-compose -f
                                            <span class="purple--text"> docker-compose.yml </span>
                                        </span>
                                        <div v-for="dockerComposeParam in dockerComposeParams">
                                            <span class="blue--text"> -f </span>
                                            <span class="purple--text"> {{dockerComposeParam}}/docker-compose.yml
                                            </span>
                                        </div>
                                        <span class="blue--text"> {{ dockerCommand }} </span>


                                    </span>
                                    <input id="docker-command-copy" type="hidden" />
                                </v-card-text>
                                <v-divider class="mx-4"></v-divider>
                                <v-card-actions>
                                    <v-btn text color="deep-purple accent-4" @click="copyDockerComposeCode">
                                        Copy
                                    </v-btn>


                                    <v-snackbar v-model="snackbar" :timeout="timeout" :multi-line="true">
                                        {{ snackbarText }}
                                        <v-btn color="blue" text @click="snackbar = false">
                                            Close
                                        </v-btn>
                                    </v-snackbar>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                        <v-col  col="12" md="4" sm="12">

                            <v-badge right>
                                <template v-slot:badge>
                                    <span>3</span>
                                </template>
                                <h1>Read Docs</h1>
                            </v-badge>
                            <v-card>

                                <template v-for="dockerComposeParam in dockerComposeParams">

                                    <v-card class="mr-2 ml-2 mb-1 mt-1">
                                        <iframe frameBorder="0" class="iframe"
                                            :src="dockerComposeParam + '/README.md'"></iframe>
                                    </v-card>
                                    <!-- <v-col :key="dockerComposeParam" cols="12" sm="6" md="4" >
                                            </v-col> -->
                                </template>
                            </v-card>
                        </v-col>
                    </v-row>




                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch-jsonp/1.1.3/fetch-jsonp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    authenticationValues: [],
                    authenticationAttributesValues: [],
                    clientValues: [],
                    serviceRegistryValues: [],


                    authenticationValuesOptions: [],
                    authenticationAttributesValuesOptions: [],
                    clientValuesOptions: [],
                    serviceRegistryValuesOptions: [],

                    // page related
                    isHaveSudo: true,
                    dockerCommand: 'up',
                    dockerCommandOptions: ['up', 'stop', 'rm', 'build'],

                    // Snack back
                    snackbar: false,
                    snackbarText: '',
                    timeout: 4000,
                };
            },
            computed: {
                // Compuse docker compose param
                dockerComposeParams() {
                    let allParam = [
                        ...this.authenticationValues,
                        ...this.authenticationAttributesValues,
                        ...this.clientValues,
                        ...this.serviceRegistryValues,
                    ];
                    return allParam;
                },
            },
            async created() {
                let response = await fetchJsonp('env.jsonp', {
                    jsonpCallbackFunction: 'callback'
                });

                let enviornmentVarables = await response.json();


                let allValueOptions = {};
                let kebabToProper = this.kebabToProper;
                Object.keys(enviornmentVarables).forEach(async function (key) {
                    let value = enviornmentVarables[key];
                    if (key.includes("_TYPE")) {
                        let parentKey = key.split("_TYPE")[0];
                        if (!(parentKey in allValueOptions)) {
                            allValueOptions[parentKey] = {};
                        }
                        allValueOptions[parentKey]['type'] = value;
                    } else if (key.includes("_PATH")) {
                        let parentKey = key.split("_PATH")[0];
                        if (!(parentKey in allValueOptions)) {
                            allValueOptions[parentKey] = {};
                        }
                        allValueOptions[parentKey]['value'] = value;
                    } else if (key.includes("_NAME")) {
                        let parentKey = key.split("_NAME")[0];
                        if (!(parentKey in allValueOptions)) {
                            allValueOptions[parentKey] = {};
                        }
                        allValueOptions[parentKey]['name'] = value;
                    }
                    else {
                        if (!(key in allValueOptions)) {
                            allValueOptions[key] = {};
                        }
                        allValueOptions[key]['text'] = kebabToProper(value);
                    }
                });

                console.log('allValueOptions', allValueOptions);

                this.authenticationValuesOptions = Object.values(allValueOptions).filter(function (option) {
                    return option.type == "authentication"
                });
                this.authenticationAttributesValuesOptions = Object.values(allValueOptions).filter(function (option) {
                    return option.type == "authentication-attribute"
                });
                this.clientValuesOptions = Object.values(allValueOptions).filter(function (option) {
                    return option.type == "client"
                });
                this.serviceRegistryValuesOptions = Object.values(allValueOptions).filter(function (option) {
                    return option.type == "service-registry"
                });

                // Initialize storage if first landing
                if (!localStorage.noFirstVisit && this.dockerComposeParams.length == 0) {
                    this.resetToDefaultSettings();

                    this.snackbarText = 'Welcome to Select Ur CAS, just initialized an example config for you :)';
                    this.snackbar = true;

                    // check this flag for escaping this if block next time
                    localStorage.noFirstVisit = "1";
                }
            },
            mounted() {
                if (localStorage.isHaveSudo) {
                    this.isHaveSudo = JSON.parse(localStorage.isHaveSudo);
                }
                if (localStorage.dockerCommand) {
                    this.dockerCommand = JSON.parse(localStorage.dockerCommand);
                }
                if (localStorage.authenticationValues) {
                    this.authenticationValues = JSON.parse(localStorage.authenticationValues);
                }

                if (localStorage.authenticationAttributesValues) {
                    this.authenticationAttributesValues = JSON.parse(localStorage.authenticationAttributesValues);
                }

                if (localStorage.clientValues) {
                    this.clientValues = JSON.parse(localStorage.clientValues);
                }

                if (localStorage.serviceRegistryValues) {
                    this.serviceRegistryValues = JSON.parse(localStorage.serviceRegistryValues);
                }

            },
            watch: {
                isHaveSudo(newIsHaveSudo) {
                    localStorage.isHaveSudo = newIsHaveSudo;
                },
                dockerCommand(newDockerCommand) {
                    localStorage.dockerCommand = JSON.stringify(newDockerCommand);
                },
                authenticationValues(newAuthenticationValues) {
                    localStorage.authenticationValues = JSON.stringify(newAuthenticationValues);
                },
                authenticationAttributesValues(newAuthenticationAttributesValues) {
                    localStorage.authenticationAttributesValues = JSON.stringify(newAuthenticationAttributesValues);
                },
                clientValues(newClientValues) {
                    localStorage.clientValues = JSON.stringify(newClientValues);
                },
                serviceRegistryValues(newServiceRegistryValues) {
                    localStorage.serviceRegistryValues = JSON.stringify(newServiceRegistryValues);
                },
            },
            methods: {
                getDockerCommandText() {
                    // Need to keep this for refresh :D
                    console.log(this.dockerComposeParams);

                    let returnText = $("#docker-command").text().trim();
                    returnText = returnText.replace(/(\r\n|\n|\r)/gm, "");
                    returnText = returnText.replace(/\s+/g, " ");
                    console.log('returnText', returnText);
                    return returnText;
                },
                copyDockerComposeCode() {
                    let toBeCopyText = this.getDockerCommandText();
                    $("#docker-command-copy").val(toBeCopyText);
                    let testingCodeToCopy = document.querySelector('#docker-command-copy')
                    testingCodeToCopy.setAttribute('type', 'text')
                    testingCodeToCopy.select()

                    try {
                        var successful = document.execCommand('copy');
                        this.snackbarText = '[' + toBeCopyText + '] was copied'
                        //alert('Testing code was copied ' + msg);
                    } catch (err) {
                        this.snackbarText = 'Oops, unable to copy';
                    }
                    this.snackbar = true;

                    /* unselect the range */
                    testingCodeToCopy.setAttribute('type', 'hidden')
                    window.getSelection().removeAllRanges()
                },
                kebabToProper(str) {
                    str += '';
                    str = str.split('-');
                    for (var i = 0; i < str.length; i++) {
                        str[i] = str[i].slice(0, 1).toUpperCase() + str[i].slice(1, str[i].length);
                    }
                    return str.join(' ');
                },
                resetToDefaultSettings() {
                    this.authenticationValues = ["./source/authentication/json-whitelist"];
                    this.authenticationAttributesValues = ["./source/authentication-attribute/mysql"];
                    this.clientValues = ["./source/client/phpcas"];
                    this.serviceRegistryValues = ["./source/service-registry/json-1001"];

                },

            },
        })
    </script>
</body>

</html>