<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Select Ur CAS</title>
    <style>
        #app {
            /*Credit: https://leaverou.github.io/css3patterns/#blueprint-grid*/
            background-color: #269;
            background-image: linear-gradient(white 2px, transparent 2px),
                linear-gradient(90deg, white 2px, transparent 2px),
                linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
                linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
            background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
            background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
        }

        .container {
            background: white;
            opacity: 0.85;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>
                <v-container class="mt-5">
                    <h1>Select Ur CAS</h1>


                    <v-select v-model="authenticationValues" :items="authenticationValuesOptions"
                        label="Where you want your authentication credential stored?" multiple persistent-hint chips>
                    </v-select>
                    <v-select v-model="authenticationAttributesValues" :items="authenticationAttributesValuesOptions"
                        label="Where you want your authentication attribute stored?" multiple persistent-hint chips>
                    </v-select>
                    <v-select v-model="clientValues" :items="clientValuesOptions"
                        label="What client is to be used to authenticate your system against" multiple persistent-hint
                        chips>
                    </v-select>
                    <v-select v-model="serviceRegistryValues" :items="serviceRegistryValuesOptions"
                        label="Where you want your service stored?" multiple persistent-hint chips>
                    </v-select>

                    <v-switch v-model="isHaveSudo" :label="`Include sudo? : ${isHaveSudo.toString()}`"></v-switch>
                    <v-card class="mx-auto">
                        <v-card-text>

                            <span id="docker-command">
                                <span class="blue--text">
                                    {{ isHaveSudo ? 'sudo' : ''}} docker-compose -f
                                    <span class="purple--text"> docker-compose.yml </span>
                                </span>
                                <div v-for="dockerComposeParam in dockerComposeParams">
                                    <span class="blue--text"> -f </span>
                                    <span class="purple--text"> {{dockerComposeParam}}/docker-compose.yml </span>
                                </div>
                                <span class="blue--text"> up </span>


                            </span>
                            <input id="docker-command-copy" type="hidden" />
                        </v-card-text>
                        <v-card-actions>
                            <v-btn text color="deep-purple accent-4" @click="copyDockerComposeCode">
                                Copy
                            </v-btn>


                            <v-snackbar v-model="snackbar" :timeout="timeout">
                                {{ snackbarText }}
                                <v-btn color="blue" text @click="snackbar = false">
                                    Close
                                </v-btn>
                            </v-snackbar>
                        </v-card-actions>
                    </v-card>

                </v-container>

            </v-content>
        </v-app>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    authenticationValues: [],
                    authenticationAttributesValues: [],
                    clientValues: [],
                    serviceRegistryValues: [],


                    authenticationValuesOptions: [],
                    authenticationAttributesValuesOptions: [],
                    clientValuesOptions: [],
                    serviceRegistryValuesOptions: [],

                    // page related
                    isHaveSudo: true,

                    // Snack back
                    snackbar: false,
                    snackbarText: '',
                    timeout: 2000,
                };
            },
            computed: {
                // Compuse docker compose param
                dockerComposeParams() {
                    let allParam = [
                        ...this.authenticationValues,
                        ...this.authenticationAttributesValues,
                        ...this.clientValues,
                        ...this.serviceRegistryValues,
                    ];
                    return allParam;
                },
            },
            created() {

                // This was suppose to be loaded through fetch API, 
                // but it is not working on chrome so now I just use manual copy and paste.....
                // fetch('.env')
                //     .then(response => response.text())
                //     .then(text => console.log(text))
                let enviornmentVarables = `
BUILD_GRADLE_DEPENDENCIES_PATH=/cas-overlay/build-gradle-dependencies
RESOURCE_PATH=/etc/cas/resources
SERVICES_PATH=/etc/cas/services
CONFIG_PATH=/etc/cas/config
CONFIG_PROPERTIES_PATH=/etc/cas/config/properties
CONFIGURATION_STORAGE_GIT=configuration-storage-git
CONFIGURATION_STORAGE_GIT_PATH=./source/configuration-storage/git
CONFIGURATION_STORAGE_GIT_TYPE=configuration-storage
CAS_OVERLAY=cas-overlay
CAS_OVERLAY_PATH=./source/cas-overlay
CAS_OVERLAY_TYPE=./cas-overlay
CLIENT_PHPCAS=client-phpcas
CLIENT_PHPCAS_PATH=./source/client/phpcas
CLIENT_PHPCAS_TYPE=client
SERVICE_REGISTRY_JSON=service-registry-json
SERVICE_REGISTRY_JSON_PATH=./source/service-registry/json
SERVICE_REGISTRY_JSON_TYPE=service-registry
AUTHENTICATION_MYSQL_QUERY=authentication-mysql-query
AUTHENTICATION_MYSQL_QUERY_PATH=./source/authentication/mysql-query
AUTHENTICATION_MYSQL_QUERY_TYPE=authentication
AUTHENTICATION_JSON_WHITELIST=authentication-json-whitelist
AUTHENTICATION_JSON_WHITELIST_PATH=./source/authentication/json-whitelist
AUTHENTICATION_JSON_WHITELIST_TYPE=authentication
AUTHENTICATION_ACCEPT_USERS=authentication-accept-users
AUTHENTICATION_ACCEPT_USERS_PATH=./source/authentication/accept-users
AUTHENTICATION_ACCEPT_USERS_TYPE=authentication
AUTHENTICATION_ATTRIBUTE_MYSQL=authentication-attribute-mysql
AUTHENTICATION_ATTRIBUTE_MYSQL_PATH=./source/authentication-attribute/mysql
AUTHENTICATION_ATTRIBUTE_MYSQL_TYPE=authentication-attribute

                `
                enviornmentVarables = enviornmentVarables.split("\n")
                let kebabToProper = this.kebabToProper;
                let allValueOptions = enviornmentVarables.reduce(function (filtered, element) {
                    if (Array.isArray(filtered)) {
                        filtered = {};
                    }
                    if (element.includes("=")) {
                        let [key, value] = element.split("=");
                        if (key.includes("_TYPE")) {
                            let parentKey = key.split("_TYPE")[0];
                            if (!(parentKey in filtered)) {
                                filtered[parentKey] = {};
                            }
                            filtered[parentKey]['type'] = value;
                        } else if (key.includes("_PATH")) {
                            let parentKey = key.split("_PATH")[0];
                            if (!(parentKey in filtered)) {
                                filtered[parentKey] = {};
                            }
                            filtered[parentKey]['value'] = value;

                        }
                        else {
                            if (!(key in filtered)) {
                                filtered[key] = {};
                            }
                            filtered[key]['text'] = kebabToProper(value);
                        }


                    }
                    return filtered;
                }, []);


                this.authenticationValuesOptions = Object.values(allValueOptions).filter(function (option) {
                    return option.type == "authentication"
                });
                this.authenticationAttributesValuesOptions = Object.values(allValueOptions).filter(function (option) {
                    return option.type == "authentication-attribute"
                });
                this.clientValuesOptions = Object.values(allValueOptions).filter(function (option) {
                    return option.type == "client"
                });
                this.serviceRegistryValuesOptions = Object.values(allValueOptions).filter(function (option) {
                    return option.type == "service-registry"
                });
            },
            mounted() {
                if (localStorage.isHaveSudo) {
                    this.isHaveSudo = JSON.parse(localStorage.isHaveSudo);
                }
                if (localStorage.authenticationValues) {
                    this.authenticationValues = JSON.parse(localStorage.authenticationValues);
                }

                if (localStorage.authenticationAttributesValues) {
                    this.authenticationAttributesValues = JSON.parse(localStorage.authenticationAttributesValues);
                }

                if (localStorage.clientValues) {
                    this.clientValues = JSON.parse(localStorage.clientValues);
                }

                if (localStorage.serviceRegistryValues) {
                    this.serviceRegistryValues = JSON.parse(localStorage.serviceRegistryValues);
                }

            },
            watch: {
                isHaveSudo(newIsHaveSudo) {
                    localStorage.isHaveSudo = newIsHaveSudo;
                },
                authenticationValues(newAuthenticationValues) {
                    localStorage.authenticationValues = JSON.stringify(newAuthenticationValues);
                },
                authenticationAttributesValues(newAuthenticationAttributesValues) {
                    localStorage.authenticationAttributesValues = JSON.stringify(newAuthenticationAttributesValues);
                },
                clientValues(newClientValues) {
                    localStorage.clientValues = JSON.stringify(newClientValues);
                },
                serviceRegistryValues(newServiceRegistryValues) {
                    localStorage.serviceRegistryValues = JSON.stringify(newServiceRegistryValues);
                },
            },
            methods: {
                getDockerCommandText() {
                    // Need to keep this for refresh :D
                    console.log(this.dockerComposeParams);

                    let returnText = $("#docker-command").text().trim();
                    returnText = returnText.replace(/(\r\n|\n|\r)/gm, "");
                    returnText = returnText.replace(/\s+/g, " ");
                    console.log('returnText', returnText);
                    return returnText;
                },
                copyDockerComposeCode() {
                    let toBeCopyText = this.getDockerCommandText();
                    $("#docker-command-copy").val(toBeCopyText);
                    let testingCodeToCopy = document.querySelector('#docker-command-copy')
                    testingCodeToCopy.setAttribute('type', 'text')
                    testingCodeToCopy.select()

                    try {
                        var successful = document.execCommand('copy');
                        this.snackbarText = '[' + toBeCopyText + '] was copied'
                        //alert('Testing code was copied ' + msg);
                    } catch (err) {
                        this.snackbarText = 'Oops, unable to copy';
                    }
                    this.snackbar = true;

                    /* unselect the range */
                    testingCodeToCopy.setAttribute('type', 'hidden')
                    window.getSelection().removeAllRanges()
                },
                kebabToProper(str) {
                    str += '';
                    str = str.split('-');
                    for (var i = 0; i < str.length; i++) {
                        str[i] = str[i].slice(0, 1).toUpperCase() + str[i].slice(1, str[i].length);
                    }
                    return str.join(' ');
                },

            },
        })
    </script>
</body>

</html>