<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Select Ur CAS</title>
    <style>
        #app {
            /*Credit: https://leaverou.github.io/css3patterns/#blueprint-grid*/
            background-color: #269;
            background-image: linear-gradient(white 2px, transparent 2px),
                linear-gradient(90deg, white 2px, transparent 2px),
                linear-gradient(rgba(255, 255, 255, .3) 1px, transparent 1px),
                linear-gradient(90deg, rgba(255, 255, 255, .3) 1px, transparent 1px);
            background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
            background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
        }

        .container {
            background: white;
            opacity: 0.95;
        }

        .v-chip {
            opacity: 1;
        }

        .iframe {
            width: 100%;
            height: 7em;
            margin-bottom: 1em;
            overflow-y: hidden;
            overflow:hidden;
        }
    </style>
</head>

<body>
    <div id="app">
        <v-app>
            <v-content>


                <v-container class="mt-5 " fluid>
                    <v-row>
                        <v-col cols="4">


                            <h1>Select Ur CAS</h1>
                        </v-col>
                        <v-col cols="8">
                            <v-btn class="success float-right" @click="resetToDefaultSettings">Click to reset to example
                                setup</v-btn>
                        </v-col>
                    </v-row>
                    <v-divider></v-divider>
                    <v-row>
                        <v-col col="12" md="4" sm="12">
                            <v-badge right>
                                <template v-slot:badge>
                                    <span>1</span>
                                </template>
                                <h1>Select Command</h1>
                            </v-badge>
                            

                            <v-select v-model="authenticationValues" :items="authenticationValuesOptions"
                                label="Authentication credential storage:" multiple persistent-hint
                                clearable chips>
                            </v-select>
                            <v-select v-model="authenticationAttributesValues"
                                :items="authenticationAttributesValuesOptions"
                                label="Authentication attribute storage:" multiple persistent-hint
                                clearable chips>
                            </v-select>
                            <v-select v-model="casClientValues" :items="casClientValuesOptions"
                                label="CAS protocol clients:" multiple clearable
                                persistent-hint chips>
                            </v-select>
                            <v-alert dense type="info">
                                <div>
                                    Each CAS protocol client does not have service enabled, you need to use add an 
                                    service together with an CAS protocol client
                                </div>
                            </v-alert>

                            <v-select v-model="protocolValues" :items="protocolValuesOptions"
                                label="Enabled other protocol (also need to assign a client below):" multiple persistent-hint
                                clearable chips>
                            </v-select>
                            <template v-if="protocolValues.length > 0">
                                <v-select 
                                    v-model="otherClientValues" 
                                    :items="otherClientValuesOptions"
                                    label="Other protocol clients (e.g. OAuth 2, OIDC, SAML 2):" multiple clearable
                                    persistent-hint chips>
                                </v-select>
                                <v-alert dense type="info">
                                    <div>
                                        Each non cas protocol client is also bundled with an related JSON service, see Readme for usage
                                    </div>
                                </v-alert>
                                
                            </template>
                            <v-select v-model="ticketRegistryValue" :items="ticketRegistryValuesOptions"
                                label="Ticket registry:"
                                persistent-hint>
                            </v-select>
                            <v-select v-model="serviceRegistryValue" :items="serviceRegistryValuesOptions"
                                label="Service storage:"  persistent-hint clearable>
                            </v-select>
                            <v-alert dense type="info">
                                <div>
                                        Number at the end is used for service id and order
                                </div>
                                <div>
                                        By default, each of the above service registry allow all http / https traffic.
                                </div>
                            </v-alert>
                        </v-col>
                        <v-col col="12" md="4" sm="12">

                            <v-badge right>
                                <template v-slot:badge>
                                    <span>2</span>
                                </template>
                                <h1>Copy docker command</h1>
                            </v-badge>
                                <v-switch v-model="isHaveSudo" :label="`Include sudo to command ?`"></v-switch>



                                <v-select v-model="dockerCommand" :items="dockerCommandOptions"
                                    label="Select action for Docker:" persistent-hint>
                                </v-select>

                                <v-switch v-model="isUseCAS5" :label="`Check to select CAS 5`"></v-switch>
                                    
                                <v-alert dense v-if="isUseCAS5" type="warning">
                                    This project is built using latest released CAS 6 version, 
                                    so some config / properties might need to be altered for CAS 5 to work.
                                </v-alert>

                            <v-card class="mx-auto">
                                <v-card-text class="caption">

                                    <span id="docker-command">
                                        <span class="blue--text">
                                            {{ isHaveSudo ? 'sudo' : ''}} docker-compose -f
                                            <span class="purple--text"> docker-compose.yml </span>
                                        </span>
                                        <span v-if="isUseCAS5">
                                            -f
                                            <span class="purple--text"> ./source/cas-overlay-5-3/docker-compose.yml </span>
                                        </span>
                                        <div v-for="dockerComposeParam in dockerComposeParams">
                                            <span class="blue--text"> -f </span>
                                            <span class="purple--text"> {{ dockerComposeParam }}/docker-compose.yml
                                            </span>
                                        </div>
                                        <div v-if="isUseSmtp">
                                            <span class="blue--text"> -f </span>
                                            <span class="purple--text"> 
                                                {{ nameToPathMapping['helper-postfix-smtp-server'] }}/docker-compose.yml
                                            </span>
                                        </div>
                                        <div v-if="isUseTicketRegistry">
                                            <span class="blue--text"> -f </span>
                                            <span class="purple--text"> 
                                                {{ nameToPathMapping['helper-nginx-load-balancer'] }}/docker-compose.yml
                                            </span>
                                        </div>
                                        
                                        <span class="blue--text"> 
                                            {{ dockerCommand }}  
                                            <template v-if="isUseTicketRegistry" > --scale cas_server=2</template>
                                        </span>


                                    </span>
                                    <input id="docker-command-copy" type="hidden" />
                                </v-card-text>
                                <v-divider class="mx-4"></v-divider>
                                <v-card-actions>
                                    <v-btn text color="deep-purple accent-4" @click="copyDockerComposeCode">
                                        Copy
                                    </v-btn>


                                    <v-snackbar v-model="snackbar" :timeout="timeout" :multi-line="true">
                                        {{ snackbarText }}
                                        <v-btn color="blue" text @click="snackbar = false">
                                            Close
                                        </v-btn>
                                    </v-snackbar>
                                </v-card-actions>
                            </v-card>
                        </v-col>
                        <v-col  col="12" md="4" sm="12">

                            <v-badge right>
                                <template v-slot:badge>
                                    <span>3</span>
                                </template>
                                <h1>Read Docs</h1>
                            </v-badge>
                            <v-card>
                                <v-alert dense v-if="!isChromeBrowser" type="warning">
                                    Use Chrome will allow the below document to be shown in the same page, so consider using Chrome
                                </v-alert>
                                <template v-for="dockerComposeParam in dockerComposeParams">

                                    <v-card class="mr-2 ml-2 mb-1 mt-1">
                                        <template v-if="isChromeBrowser">
                                            <iframe frameBorder="0" class="iframe"
                                            :src="dockerComposeParam + '/README.md'"></iframe>
                                        </template>
                                        <template v-else>
                                            Click below link to documentation:<br/>
                                            <a :href="dockerComposeParam + '/README.md'"> {{dockerComposeParam}}</a>
                                        </template>
                                    </v-card>
                                    <!-- <v-col :key="dockerComposeParam" cols="12" sm="6" md="4" >
                                            </v-col> -->
                                </template>
                            </v-card>
                        </v-col>
                    </v-row>




                </v-container>
            </v-content>
        </v-app>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/fetch-jsonp/1.1.3/fetch-jsonp.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            data() {
                return {
                    protocolValues: [],
                    authenticationValues: [],
                    authenticationAttributesValues: [],
                    ticketRegistryValue: "",
                    casClientValues: [],
                    otherClientValues: [],
                    serviceRegistryValue: "",

                    // All value options
                    allComponentsArray: [],
                    
                    nameToPathMapping: {},

                    // page related
                    isHaveSudo: true,
                    isUseCAS5: false,
                    dockerCommand: 'up',
                    dockerCommandOptions: ['up', 'stop', 'rm', 'build'],

                    // Snack back
                    snackbar: false,
                    snackbarText: '',
                    timeout: 4000,
                };
            },
            computed: {
                // Compuse docker compose param
                dockerComposeParams() {
                    let allParam = [
                        ...this.protocolValues,
                        ...this.authenticationValues,
                        ...this.authenticationAttributesValues,
                        ...this.ticketRegistryValues,
                        ...this.casClientValues,
                        ...this.otherClientValues,
                        ...this.serviceRegistryValues,
                    ];
                    return allParam;
                },
                ticketRegistryValues() {
                    return this.ticketRegistryValue? [this.ticketRegistryValue] : [];
                },
                serviceRegistryValues() {
                    return this.serviceRegistryValue? [this.serviceRegistryValue] : [];
                },
                isUseTicketRegistry() {
                    return this.ticketRegistryValue != this.nameToPathMapping["ticket-registry-no-ticket-registry"];
                },
                isUseSmtp(){
                    return this.protocolValues.includes(this.nameToPathMapping["protocol-passwordless-email"]);
                },
                isChromeBrowser() {
                    return /Chrome/.test(navigator.userAgent) && /Google Inc/.test(navigator.vendor);
                },
                
                protocolValuesOptions() {
                    return this.allComponentsArray.filter(function (option) {
                        return option.type == "protocol"
                    });
                },
                authenticationValuesOptions() {
                    return this.allComponentsArray.filter(function (option) {
                        return option.type == "authentication"
                    });
                },
                authenticationAttributesValuesOptions() {
                    return this.allComponentsArray.filter(function (option) {
                        return option.type == "authentication-attribute"
                    });
                },
                ticketRegistryValuesOptions() {
                    return this.allComponentsArray.filter(function (option) {
                        return option.type == "ticket-registry"
                    });
                },
                casClientValuesOptions() {
                    return this.allComponentsArray.filter(function (option) {
                        return option.type == "cas-client"
                    });
                },
                otherClientValuesOptions() {
                    return this.allComponentsArray.filter(function (option) {
                        return option.type == "other-client"
                    });
                },
                serviceRegistryValuesOptions() {
                    return this.allComponentsArray.filter(function (option) {
                        return option.type == "service-registry"
                    });
                },        
            },
            async created() {
                let response = await fetchJsonp('env.jsonp', {
                    jsonpCallbackFunction: 'callback'
                });

                let enviornmentVarables = await response.json();


                let allValueOptions = {};
                let kebabToProper = this.kebabToProper;
                Object.keys(enviornmentVarables).forEach(async function (key) {
                    let value = enviornmentVarables[key];
                    if (key.includes("_TYPE")) {
                        let parentKey = key.split("_TYPE")[0];
                        if (!(parentKey in allValueOptions)) {
                            allValueOptions[parentKey] = {};
                        }
                        allValueOptions[parentKey]['type'] = value;
                    } else if (key.includes("_PATH")) {
                        let parentKey = key.split("_PATH")[0];
                        if (!(parentKey in allValueOptions)) {
                            allValueOptions[parentKey] = {};
                        }
                        allValueOptions[parentKey]['value'] = value;
                    } else if (key.includes("_NAME")) {
                        let parentKey = key.split("_NAME")[0];
                        if (!(parentKey in allValueOptions)) {
                            allValueOptions[parentKey] = {};
                        }
                        allValueOptions[parentKey]['name'] = value;
                        allValueOptions[parentKey]['text'] = kebabToProper(value);
                    }
                    else {
                        if (!(key in allValueOptions)) {
                            allValueOptions[key] = {};
                        }
                        allValueOptions[key]['key'] = value;
                        //allValueOptions[key]['text'] = kebabToProper(value);
                    }
                });

                this.allComponentsArray = Object.values(allValueOptions);

                console.log('allComponentsArray', this.allComponentsArray);

                this.nameToPathMapping =  this.allComponentsArray.reduce(
                    (obj, item) => Object.assign(obj, { [item.key]: item.value }), {});
                // console.log('nameToPathMapping', this.nameToPathMapping);

                // Initialize storage if first landing
                if (!localStorage.noFirstVisit && this.dockerComposeParams.length == 0) {
                    this.resetToDefaultSettings();

                    this.snackbarText = 'Welcome to Select Ur CAS, just initialized an example config for you :)';
                    this.snackbar = true;

                    // check this flag for escaping this if block next time
                    localStorage.noFirstVisit = "1";
                }
            },
            mounted() {
                if (localStorage.isHaveSudo) {
                    this.isHaveSudo = JSON.parse(localStorage.isHaveSudo);
                }
                if (localStorage.isUseCAS5) {
                    this.isUseCAS5 = JSON.parse(localStorage.isUseCAS5);
                }
                
                if (localStorage.dockerCommand) {
                    this.dockerCommand = JSON.parse(localStorage.dockerCommand);
                }

                if (localStorage.protocolValues){
                    this.protocolValues = JSON.parse(localStorage.protocolValues);
                }

                if (localStorage.authenticationValues) {
                    this.authenticationValues = JSON.parse(localStorage.authenticationValues);
                }

                if (localStorage.authenticationAttributesValues) {
                    this.authenticationAttributesValues = JSON.parse(localStorage.authenticationAttributesValues);
                }

                if (localStorage.ticketRegistryValue) {
                    this.ticketRegistryValue = JSON.parse(localStorage.ticketRegistryValue);
                }

                if (localStorage.casClientValues) {
                    this.casClientValues = JSON.parse(localStorage.casClientValues);
                }

                if (localStorage.otherClientValues) {
                    this.otherClientValues = JSON.parse(localStorage.otherClientValues);
                }

                if (localStorage.serviceRegistryValue) {
                    this.serviceRegistryValue = JSON.parse(localStorage.serviceRegistryValue);
                }

            },
            watch: {
                isHaveSudo(newIsHaveSudo) {
                    localStorage.isHaveSudo = newIsHaveSudo;
                },
                isUseCAS5(newIsUseCAS5){
                    localStorage.isUseCAS5 = newIsUseCAS5;
                },
                dockerCommand(newDockerCommand) {
                    localStorage.dockerCommand = JSON.stringify(newDockerCommand);
                },
                protocolValues(newProtocolValues){
                    localStorage.protocolValues = JSON.stringify(newProtocolValues);
                },
                authenticationValues(newAuthenticationValues) {
                    localStorage.authenticationValues = JSON.stringify(newAuthenticationValues);
                },
                authenticationAttributesValues(newAuthenticationAttributesValues) {
                    localStorage.authenticationAttributesValues = JSON.stringify(newAuthenticationAttributesValues);
                },

                ticketRegistryValue(newTicketRegistryValue){
                    localStorage.ticketRegistryValue = JSON.stringify(newTicketRegistryValue);
                },
                casClientValues(newCasClientValues) {
                    localStorage.casClientValues = JSON.stringify(newCasClientValues);
                },
                otherClientValues(newOtherClientValues) {
                    localStorage.otherClientValues = JSON.stringify(newOtherClientValues);
                },
                serviceRegistryValue(newServiceRegistryValue) {
                    localStorage.serviceRegistryValue = JSON.stringify(newServiceRegistryValue);
                },
            },
            methods: {
                getDockerCommandText() {
                    // Need to keep this for refresh :D
                    console.log(this.dockerComposeParams);

                    let returnText = $("#docker-command").text().trim();
                    returnText = returnText.replace(/(\r\n|\n|\r)/gm, "");
                    returnText = returnText.replace(/\s+/g, " ");
                    console.log('returnText', returnText);
                    return returnText;
                },
                copyDockerComposeCode() {
                    let toBeCopyText = this.getDockerCommandText();
                    $("#docker-command-copy").val(toBeCopyText);
                    let testingCodeToCopy = document.querySelector('#docker-command-copy')
                    testingCodeToCopy.setAttribute('type', 'text')
                    testingCodeToCopy.select()

                    try {
                        var successful = document.execCommand('copy');
                        this.snackbarText = '[' + toBeCopyText + '] was copied'
                        //alert('Testing code was copied ' + msg);
                    } catch (err) {
                        this.snackbarText = 'Oops, unable to copy';
                    }
                    this.snackbar = true;

                    /* unselect the range */
                    testingCodeToCopy.setAttribute('type', 'hidden')
                    window.getSelection().removeAllRanges()
                },
                kebabToProper(str) {
                    str += '';
                    str = str.split('-');
                    for (var i = 0; i < str.length; i++) {
                        str[i] = str[i].slice(0, 1).toUpperCase() + str[i].slice(1, str[i].length);
                    }
                    return str.join(' ');
                },
                resetToDefaultSettings() {
                    this.protocolValues = [];
                    this.authenticationValues = [this.nameToPathMapping["authentication-json-whitelist"]];
                    this.authenticationAttributesValues = [this.nameToPathMapping["authentication-attribute-json"]];
                    this.ticketRegistryValue = this.nameToPathMapping["ticket-registry-no-ticket-registry"];
                    this.casClientValues = [this.nameToPathMapping["cas-client-phpcas"]];
                    this.otherClientValues = [];
                    this.serviceRegistryValue = this.nameToPathMapping["service-registry-json-1001"];
                },
                

            },
        })
    </script>
</body>

</html>